<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a new message</title>
  </head>
  <body>
    <% if (member) {%>
    <h1>write a new message as <%= member.name %></h1>
    <form action="" method="POST">
      <label for="Title">Title</label>
      <input name="Title" placeholder="Title" type="text" />
      <label for="message">message</label>
      <input name="message" placeholder="message" type="text" />
      <button>Post message</button>
    </form>

    <% } else { %>
    <h1>you are not logged in</h1>
    <a href="/log-in">log in</a>
    <a href="/">Go back to homepage</a>
    <%}%>
  </body>
</html>
